*{
    height: 100%;
}
body{
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(247, 241, 241);
}
a{
    text-decoration: none;
    color: unset;
}
header{
    height:max-content;
    position: fixed;
    background-color: transparent;
    width: 100%;
    margin-top: 0%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: red;
}
header button{
    text-align: left;
    display: none;
    background-color: blue;
    font-weight: bold;
    color: white;
    padding: 2%;
    border: 1px solid white;
}
header button:hover{
    background-color: rgb(39, 39, 255);
}
@media screen and (max-width:600px){
    header button{
        display: block;
    }
    
}
.mainmenu{
    display: none;
}
.log{
    height:fit-content;
    text-align: center;
    background-color:blue;
    color: lightblue;
    
    }
    @media screen and (max-width:600px){
        .log{
            display: ;
        }
    }
    .log img{
        
        width: 8%;
        border-radius: 50%;
        
    }
    .log p{
        
        word-spacing: 100px;
    }
    .log b{
        word-spacing: normal;
    }
header ul{
    display: inline-flex;
    list-style: none;
    text-align: left;
    width: 80%;
    justify-content:space-between;
}
@media screen and (max-width:600px){
    header ul{
        display: none;
    }
}
li{
    cursor: pointer;
    background-color: blue;
    padding: 10px;
    border: 1px solid white;
}
li:hover{
    background-color: rgb(38, 38, 245);
    color: ;
}
.sub-menu{
    list-style: none;
    height: max-content;
    background-color: white;
    color: black;
    width: 100%;
    border: 3px solid blue;
    display: none;
}
.sub-menu li{
    background-color: transparent;
    padding:unset;
    border: 0;
}
.slider{
    height: 97%;
    background-color: black;
    position: absolute;
    width: 100%;
    margin-top: 0%;
    overflow: hidden;
    background-attachment: fixed;
}
@media screen and (max-width:600px){
    .slider{
        margin-top: 0%;
    }
}
.absolute img{
    height: 100%;
    width: 100%;
    opacity: 20%;
    position: relative;
    animation: slide 15s linear infinite;
    transition: bottom 15s linear;
    
}
@keyframes slide {
    0%{bottom: 0%;}
    20%{bottom: 0%;}
    25%{bottom: 100%;}
    50%{bottom: 100%;}
    55%{bottom: 200%;}
    75%{bottom: 200%;}
    80%{bottom: 300%;}
    100%{bottom: 300%;}
}
.relative{
    position: relative;
    left: -100%;
    transition: left 1s ease;
    
}
.see{
    height: max-content;
    text-align: center;
    width: 100%;
}
.logo{
    height: 20%;
    text-align: center;
}
.logo img{
   height: 100%;
    margin-top: 15%;
    
    border-radius: 5%;
}

.ups{
    margin-top: 17%;
    height: max-content;
    text-align: center;
    color: white;
}
.ups h2{
    font-size: 200%;
    color: blue;
}
.ups sub{
    font-size: 50%;
    color: rgb(255, 0, 0);
}
.ups p{
    margin: 0% 15%;
    text-align: justify;
}
.screen{

    height: max-content;
    width: 90%;
    margin: 0% 5%;
    display: inline-flex;
    justify-content: space-between;
}
@media screen and (max-width:600px){
    .screen{
        display: block;
        justify-content: unset;
    }
}
.frow{
    width: 20%;
    height:max-content;
    box-shadow: 0px 0px 2px red;
    border: 5px solid white;
    text-align: center;
}
@media screen and (max-width:600px){
    .frow{
        width: 100%;
        
    }
}
.frow img{
    height: 20vh;
    width: 95%;
    margin: 2.5% 2.5%;
   
    border: 2px solid blue;
}
.frow p{
    text-align: justify;
    margin: 1% 3%;
    font-weight:450;
}
.frow button{
    padding: 3%;
    background-color: green;
    width: 50%;
    font-size: large;
    color: white;
    font-weight: bold;
    border: 1.5px solid blue;
    border-radius: 10px;
}
.frow button:hover{
    background-color: blue;
    border: 2px solid green;
}
.todo{
    height: max-content;
    background-color: black;
    padding: 2% 0%;
    width: 90%;
    margin: 2% 5%;
    background-image: url("images/cr6.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.todo-in{
    height: fit-content;
    width: 100%;
    background-color: transparent;
   text-align: center;
    
}
.todo-in h2{
    font-size: 200%;
    font-weight: bold;
    color: blue;
}
.todo-in h4{
    text-align: justify;
    width: 70%;
    margin: auto;
}
.todo-in h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-weight:900;
    color: blue;
    margin-left: 5%;
}
.todo-in p{
    text-align: left;
    margin-left: 5%;
    font-weight: bold;
}
.todo-in p button{
    background-color: blue;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 0.8%;
    cursor: pointer;
}
.gone{
    background-color: red;
    height: 100%;
}
.ermon{
    height: 100%;
    background-color: blue;
    background-image: url("images/mi3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sermon{
    height: max-content;
    width: 90%;
    text-align: center;
    margin: auto;
}
.sermon img{
    width: 45%;
    float: left;
    height: fit-content;
}
@media screen and (max-width:600px){
    .sermon img{
        float: none;
        width: 100%;
    }
}
.sermon h4{
    clear: both;
}
.sermon p{
    text-align: justify;
    margin-left: 47%;
}
@media screen and (max-width:600px){
    .sermon p{
        margin-left: 0%;
    }
}
footer{
    height: 10%;
    background-color:blue;
    clear: both;
    text-align: center;
    color: white;
}
footer b{
    color: black;
}